/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.center-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

form.auth {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

mat-card {
  margin-bottom: 1rem;
}